@import '../css/reset.css';

$primary-color: black;

@mixin defBox {
  border-radius: 50px;
  background-color: #2ECA2B;

  transition: all 3s;
}

@mixin defContainer {
    border: 1px solid $primary-color;
    border-radius: 50px;
    background-color: #333333;
    
    width: 500px;
    height: 450px;
  
    margin-left: 35%;
    margin-top: 10%;
}

html{
  box-sizing: border-box;
  .container{

    @include defContainer;
    
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
  
    #box_1{
      @include defBox;

      height: 82px;
      width: 80px;
      animation: loading 3s ease infinite;
    }

    #box_2{
      @include defBox;

      height: 305px;
      width: 80px;
      animation: loading_1 3s ease infinite;
    }
    #box_3{
      @include defBox;

      height: 375px;
      width: 80px;

      animation: loading_2 3s ease infinite;
    }
  }

  .container_1{
    @include defContainer;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;

    padding-bottom: 37px;

    .sqar{
      height: 375px;
      width: 375px;
      margin-right: 62px;

      border-radius: 50px;
      background-color: #2ECA2B;

      animation: squiz 3s ease infinite;
    }
  }

  .container_2{
    @include defContainer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .sqar_1{
      height: 42px;
      width: 42px;

      background-color: #2ECA2B;
      border-radius: 50%;

      animation: loading_3 3s ease infinite;
    }
  }
}



@keyframes loading {
  0% {
    height:82px;
  }
  25%{
    height:206px;
  }
  50%{
    height: 375px;
  }
  75%{
    height: 206px;
  }
  100%{
    height: 82px;
  }
}

@keyframes loading_1 {
  0% {
    height:206px;
  }
  25%{
    height:375px;
  }
  50%{
    height: 82px;
  }
  75%{
    height: 375px;
  }
  100%{
    height: 206px;
  }
}

@keyframes loading_2 {
  0% {
    height:375px;
  }
  25%{
    height:82px;
  }
  50%{
    height: 206px;
  }
  75%{
    height: 82px;
  }
  100%{
    height: 375px;
  }
}

@keyframes squiz {
  from {
    width: 375px;
    height: 375px;
  }
  25%{
    width: 375px;
    height: 82px;
  }
  50%{
    width: 82px;
    height: 82px;
  }
  100%{
    width: 375px;
    height: 375px;
  }
}

@keyframes loading_3 {
  0%{
    height: 42px;
    width: 42px;

    border-radius: 50%;
  }
  25%{
    height: 168px;
    width: 168px;

    border-radius: 50%;
  }
  50%{
    height: 375px;
    width: 375px;

    border-radius: 50px;
  }
  100%{
    height: 42px;
    width: 42px;

    border-radius: 50%;
  }
}