@import '../css/reset.css';

@mixin defFont{
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.16em;
  text-decoration:none;
}

html{
  box-sizing: border-box;

  body{
    padding-top: 70px;
    padding-left: 122px;

    height: 900px;

    background-image: url("../imgs/heroPageImgs/Hero Page.png");
    background-repeat: no-repeat;

    background-size: cover;

    nav {
      width: 1260px;

      display: flex;
      flex-direction: row;

      align-items: center;
      img{
        width: 150px;
        height: 60px;

        object-fit: cover;

      }
      .menu{
        margin-left: 564px;
        display: flex;
        flex-direction: row;

        column-gap: 40px;

        a{
          @include defFont;
          

          &:visited{
            color:black;
            text-decoration:none;
          }
          &:focus,&:hover{
            text-shadow: 1px 0 black;
          }
        }
      }
    }
  }

  main{
    margin-top: 320px;
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    img{
      width: 20px;
      height: 28px;

      margin-bottom: 380px;
      margin-right: 70px;

      &:hover{
        margin-bottom: 352px;
        width: 40px;
        height: 56px;
      }
      
    }
    
  }

  footer{
    .grouplinks{
      display: flex;
      flex-direction: column;

      row-gap: 20px;
      img{
        width: 28px;
        height: 28px;
        object-fit: cover;

        
      }
    }
  }
}



