@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  height: 100%;

  position: relative;
}

body {
  min-height: 100%;

  padding-left: 56px;
  padding-top: 56px;
}

header {
  width: 1395px;
  height: 48px;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: black;
}

header a:visited {
  color: black;
}

#icon {
  z-index: 2;
  width: 112px;
  height: 48px;

  display: flex;
  font-display: row;
  align-items: center;

  margin-right: 200px;
}

#menu {
  z-index: 2;
  display: flex;
  flex-direction: row;

  column-gap: 32px;

  margin-right: 443px;
}

#profile_menu {
  z-index: 2;
  width: 166px;
  height: 26px;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 42px;
}

#fav {
  background-image: url("imgs/favorite.png");
}

#prof {
  background-image: url("imgs/account_circle.png");
}

#shop {
  background-image: url("imgs/shopping_cart.png");
}

#profile_menu > a {
  width: 26px;
  height: 26px;

  background-size: cover;
}

/*----------------------*/

#container {
  position: absolute;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  top: 0;
  left: 0;
}

#container div {
  width: 33.33%;
  height: 100%;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;

  position: relative;
}

#container > div:hover {
  width: 80%;
}

#box_1 {
  background: #f35145;
}

#box_2 {
  background: #f68a3e;
}

#box_3 {
  background: #272727;
}

.cross {
  margin-top: 273px;
  margin-left: 30px;

  border: 1px solid black;
  color: white;

  height: 250px;
  width: 330px;

  font-weight: 600;
  font-size: 134.235px;
  line-height: 162px;
}

.cross img {
  border: 1px;

  position: absolute;

  top: 0;
  right: 0;
}
