@import url("/QR Mobile/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');



body{
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'Work Sans', sans-serif;
}

header {
  padding-top: 5vh;
  padding-left: 7vw;
  border: black solid;

  height: 160vh;
  width: 100%;
  background-image: url("/QR Mobile/imgs/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background\ 1.png");
  background-repeat: no-repeat;
}

.head{

  border: black solid;

  width: 85vw;
  height: 46px;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

.head_menu {
  display: grid;

  grid-auto-flow: column;
  grid-template-columns: 10vh 8.4vh 15vh 18vh;

  column-gap: 5vw;
}
.head_menu > a {
  font-size: 3.3vh;
  line-height: 28px;
  color: #fff;
}

.head_menu > a:hover {
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#chart_icon{
  width: 39px;
  height: 36.57px;

  background-image: url('/QR Mobile/imgs/chart.png');
  background-size: cover;

}